.resume-wrap{
    border-radius: 8px;
    max-width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid rgba(22, 56, 83, 0.2);
    box-shadow: 0 30px 40px rgba(22, 56, 83, 0.2);
}

.resume-navigation{
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 40px;
    font-size: 16px;
    color: #163853;
    font-weight: 600;
}

.resume-navigation button{
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #163853;
    background: none;
    border-radius: 50%;
    font-size: 14px;
    color: #163853;
}

.resume-navigation button:disabled{
    opacity: 0.5;
}

.project-detail-link{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: CENTER;
    z-index: 3;
    opacity: 1;
    font-size: 16px;
    text-align: center;
    background: rgb(128 130 132 / 75%);
    
}

.project-detail-link a.project-details{
    color: #fff;
    font-weight: 600;
} 

.gslide-inline .ginlined-content{
    padding: 0 !important;
}

.project-detail-wrap .project-detail-image{
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    height: 350px;
    width: 100%;
}
.project-detail-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.project-detail-wrap .project-detail-container{
    padding: 20px;
}

.project-detail-wrap .project-detail-section{
    margin: 20px 0;
}

.project-title h2{
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
    margin-bottom: 20px;
}